XHS_BASE_URL=https://www.xiaohongshu.com
XHS_SEARCH_URL=https://edith.xiaohongshu.com
XHS_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
XHS_REQUEST_TIMEOUT=15
XHS_REQUEST_INTERVAL_SECONDS=1.5
XHS_OUTPUT_DIR=data
XHS_SEARCH_SOURCE=web_explore_feed
XHS_BATCH_TXT_FILENAME=blogger_search_results.txt

# 需要更新
XHS_COOKIE=
# 请求时间戳
XHS_XT=
# x-s/x-s-common是基于该时间戳和请求体计算出的签名（猜测可能是防爬虫的签名信息，但是有时候不传也没问题，所以可能不需要）
XHS_XS=
XHS_XS_COMMON=

# ================= 运行时配置 ==================
# 运行命令：xhs-crawler crawl-names
XHS_BLOGGER_NAMES=["造物者","丸子是个小猪"]
# 每个账号之间查询等待下限（秒）
XHS_QUERY_INTERVAL_MIN=6
# 每个账号之间查询等待上限（秒）
XHS_QUERY_INTERVAL_MAX=15

# 查询多少个账号后进入等待时间（个） 例：每查询10个账号进入等待
XHS_BATCH_PAUSE_EVERY=9

# 等待时间下限
XHS_BATCH_PAUSE_MIN=60
# 等待时间上限
XHS_BATCH_PAUSE_MAX=180

# ================= 运行时配置 ==================

# ================= Dashboard 数据库 ==================
DASHBOARD_DB_HOST=
DASHBOARD_DB_PORT=3306
DASHBOARD_DB_NAME=
DASHBOARD_DB_USER=
DASHBOARD_DB_PASSWORD=

# 品牌脚本执行-高权限密码（最好md5一下）
SCRIPT_PRIVILEGED_PASSWORD=

# ============== WEBSITE抓取配置 ================
# 灵犀登录信息
LINKX_ACCOUNT=xxxx
LINKX_PASSWORD=xxxx
# 灵犀Cookie
LINKX_COOKIE=
# 是否自动登录（调试时设置为false，避免频繁登录引发风控）
LINKX_AUTO_LOGIN=true
# 登陆成功跳转页面
TARGET_URL=
